<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Movie streamer - movie details</title>
</head>
<body>

<div class="w3-container ">

    <div class="w3-card-4 w3-display-middle" style="width:70%">
        <header class="w3-container w3-light-grey">
            <h2 th:text="${movie.title}"></h2>
            <h3 th:text="${movie.movieUUID}"></h3>
        </header>
        <div class="w3-container">
            <p>Direction: <span th:text="${movie.directing}"></span></p>
            <hr/>
            <p>Casting: <span th:text="${movie.casting}"></span> </p>
            <hr/>
            <p>Release year:
                <span th:text="${movie.releaseYear}"></span> /
                Movie duration:
                <span th:text="${movie.duration}"></span> /
                minutes
                Genre:
                <span th:text="${movie.genre}"></span> /
                Age rating:
                <span th:text="${movie.ageRating}"></span>
            </p>
            <hr/>
            <img th:src="@{/images/{path}(path=${movie.posterPath})}" th:alt="${movie.title}" class="w3-left w3-margin-right" style="width:25%">
            <p th:text="${movie.synopsis}"></p>
            <hr/>
            <a th:href="@{/movies/movies}" class="w3-button w3-green">Back to movies list</a>
        </div>
        <br/>
    </div>
</div>
</body>
</html>