<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Movie details</title>
</head>
<body>

<div class="w3-panel w3-padding-32">
    <h2 th:text="${movie.title}"></h2>

    <div class="w3-card-4" style="width:70%">
        <header class="w3-container w3-light-grey">
            <h3 th:text="${movie.movieUUID}"></h3>
        </header>
        <div class="w3-container">
            <p th:text="${movie.directing}"></p>
            <hr/>
            <p th:text="${movie.casting}"></p>
            <hr/>
            <img th:src="${movie.posterPath}" th:alt="${movie.title}" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <p th:text="${movie.synopsis}"></p>
            <br/>
            <a th:href="@{/movies/movies}" class="w3-button w3-green">Back to movies list</a>
        </div>
        <br/>
    </div>
</div>
</body>
</html>