<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>New Movie</title>
</head>
<body>
<form action="/movies/createMovie" class="w3-container w3-card-4 w3-light-grey w3-text-green w3-margin">
    <h2 class="w3-center">New Movie Form</h2>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-film"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="title" type="text" placeholder="Title">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-calendar"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="releaseYear" type="text" placeholder="Release year">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-clock"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="duration" type="text" placeholder="Duration (in minutes)">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-clapperboard"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="directing" type="text" placeholder="Direction">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-people-group"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="casting" type="text" placeholder="Casting">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-book-bookmark"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="synopsis" type="text" placeholder="Synopsis">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-hat-cowboy"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="genre" type="text" placeholder="Genre">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-face-smile"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="ageRating" type="text" placeholder="Age rating">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-image"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="posterPath" type="text" placeholder="Poster image filename">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-video"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="videoPath" type="text" placeholder="Video filename">
        </div>
    </div>

    <button class="w3-button w3-block w3-section w3-green w3-ripple w3-padding">Create</button>

</form>
</body>
</html>