<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Movie streamer - movies list</title>
</head>
<body>
<nav class="w3-bar w3-border w3-black">
    <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white">Users</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-white">Movies</a>
    <a th:href="@{/movies/newMovieForm}" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Add new movie</a>

</nav>
<main class="w3-container w3-center">
    <div class="w3-center">
        <h3>List of Movies</h3>
    </div>

    <div class="w3-row-padding w3-center w3-container w3-margin">
        <div class="w3-col l3 m4 s6 w3-padding-16" th:each="movie:${allMovies}">
            <div class="w3-card-4 w3-light-grey" >
                <div class="w3-container w3-center">
                    <h3 style="height:100px" th:text="${movie.title}"}></h3>
                    <div style="width:100%; height:300px;">
                        <img th:src="@{/images/{path}(path=${movie.posterPath})}"  style="max-width:100%; max-height:300px;">
                    </div>
                    <h5 th:text="${movie.directing}"}></h5>
                    <div class="w3-padding-16">
                        <a th:href="@{/movies/updateMovieForm(movieUUID=${movie.movieUUID})}" class="w3-mobile w3-button w3-gray">Update</a>
                        <button th:id-movie="${movie.movieUUID}" th:onclick="deleteMovieAskForConfirmation(this.getAttribute('id-movie'))" class="w3-mobile w3-button w3-red">Delete</button>
                    </div>
                </div>
                <a th:href="@{/movies/movieDetails(movieUUID=${movie.movieUUID})}" class="w3-button w3-block w3-black">Details</a>
            </div>
        </div>
    </div>
</main>

<!-- The Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <p id="message"></p>
            <button id="confirm" class="w3-button w3-green">Confirm</button>
            <button id="deny" class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'; ">Close</button>
            <br/><br/>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/movie.js"></script>
</body>
