<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Movies List</title>
</head>
<body>
<div class="w3-container w3-display-topmiddle">
    <p>
        <a th:href="@{/movies/newMovieForm}" class="w3-button w3-green">Add new movie</a>
    </p>
    <table class="w3-table-all w3-hoverable">
        <tr th:each="movie:${allMovies}">
            <td th:text="${movie.movieUUID}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.directing}"></td>
            <td th:text="${movie.genre}"></td>

            <td><button th:id-movie="${movie.movieUUID}" th:onclick="deleteMovieAskForConfirmation(this.getAttribute('id-movie'))" class="w3-button w3-red">Delete this movie</button></td>
            <td><a th:href="@{/movies/updateMovieForm(movieUUID=${movie.movieUUID})}"
                   class="w3-button w3-orange">Update this movie</a></td>
            <td><a th:href="@{/movies/movieDetails(movieUUID=${movie.movieUUID})}"
                   class="w3-button w3-green">Movie details</a></td>
        </tr>
    </table>
</div>

<!-- The Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
            <p id="message"></p>
            <button id="confirm" class="w3-button w3-green">Confirm</button>
            <button id="deny" class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'; ">Close</button>
            <br/><br/>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/scratch.js"></script>
</body>
</html>