<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Movie streamer - users list</title>
</head>
<body>
<div class="w3-container w3-display-topmiddle">
    <p>
        <a th:href="@{/users/newUserForm}" class="w3-button w3-green">Add new user</a>
    </p>
    <table class="w3-table-all w3-hoverable">
        <tr th:each="user:${allUsers}">
            <td th:text="${user.userUUID}"></td>
            <td th:text="${user.userFirstName}"></td>
            <td th:text="${user.userLastName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userRol}"></td>
            <td th:text="${user.birthDate}"></td>

            <td><button th:id-user="${user.userUUID}" th:onclick="deleteUserAskForConfirmation(this.getAttribute('id-user'))" class="w3-button w3-red">Delete this user</button></td>
            <td><a th:href="@{/users/updateUserForm(userUUID=${user.userUUID})}"
                   class="w3-button w3-orange">Update this user</a></td>
            <td><a th:href="@{/users/userDetails(userUUID=${user.userUUID})}"
                   class="w3-button w3-green">User details</a></td>
        </tr>
    </table>
</div>

<!-- The Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
            <p id="message"></p>
            <button id="confirm" class="w3-button w3-green">Confirm</button>
            <button id="deny" class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'; ">Close</button>
            <br/><br/>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/user.js"></script>
</body>
</html>