<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutUsers}">
<head>
    <title>Movie streamer - Users list</title>
</head>

<div layout:fragment="content">

    <div class="w3-center">
        <h3>List of User</h3>
    </div>

    <div class="w3-row-padding w3-center w3-container w3-margin">

    <table class="w3-table-all w3-hoverable">
        <tr th:each="user:${allUsers}">
            <td th:text="${user.userUUID}"></td>
            <td th:text="${user.userFirstName}"></td>
            <td th:text="${user.userLastName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userRol}"></td>
            <td th:text="${user.birthDate}"></td>
            <td th:text="${user.password}"></td>

            <td><button th:id-user="${user.userUUID}" th:onclick="deleteUserAskForConfirmation(this.getAttribute('id-user'))" class="w3-button w3-red">Delete this user</button></td>

        </tr>
    </table>
    </div>
</div>
</html>