<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Movies List</title>
</head>
<body>
<div class="w3-panel w3-padding-32">
    <h1>Spring Boot Movies Example .....</h1>
    <h3>table of movies from @Controller @Service @Repository and H2 DB</h3>

    <table class="w3-table-all w3-hoverable">
        <tr th:each="movie:${allMovies}">
            <td th:text="${movie.movieUUID}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.directing}"></td>
            <td th:text="${movie.genre}"></td>
            <td><a th:href="@{/movies/deleteMovie(movieUUID=${movie.movieUUID})}"
                   class="w3-button w3-red">Delete this movie</a></td>
            <td><a th:href="@{/movies/updateMovieForm(movieUUID=${movie.movieUUID})}"
                   class="w3-button w3-orange">Update this movie</a></td>
            <td><a th:href="@{/movies/movieDetails(movieUUID=${movie.movieUUID})}"
                   class="w3-button w3-green">Movie details</a></td>
        </tr>
    </table>
    <p>
        <a th:href="@{/movies/newMovieForm}" class="w3-button w3-green">Add new movie</a>
    </p>
</div>
</body>
</html>