<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ed663e4c4c.js" crossorigin="anonymous"></script>
    <title>Update Movie Form</title>
</head>
<body>
<form action="/movies/updateMovie" class="w3-container w3-card-4 w3-light-grey w3-text-green w3-margin">
    <h2 class="w3-center">Update Movie Form</h2>

    <div class="w3-row w3-section w3-hide">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-film"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="movieUUID" type="text" th:value="${movie.movieUUID}" >
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-film"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="title" type="text" th:value="${movie.title}" >
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-calendar"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="releaseYear" type="text" th:value="${movie.releaseYear}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-clock"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="duration" type="text" th:value="${movie.duration}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-clapperboard"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="directing" type="text" th:value="${movie.directing}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-people-group"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="casting" type="text" th:value="${movie.casting}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-book-bookmark"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="synopsis" type="text" th:value="${movie.synopsis}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-hat-cowboy"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="genre" type="text" th:value="${movie.genre}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-face-smile"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="ageRating" type="text" th:value="${movie.ageRating}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-image"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="posterPath" type="text" th:value="${movie.posterPath}" >
            </div>
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa-solid fa-video"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="videoPath" type="text" th:value="${movie.videoPath}" >
            </div>
        </div>
    </div>

    <button class="w3-button w3-block w3-section w3-green w3-ripple w3-padding">Update</button>

</form>

    <br/>
    <a th:href="@{/movies/movies}" class="w3-button w3-green">Back to movies list</a>
</body>
</html>